// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #CEEBFB;
}

.navbar {
  margin-bottom: 0px;
}

// index

.fullwidth-jumbotron {
  background: #EE5253;
  padding: 6em 0;
  
  h1 {
    color: #fff;
  }
}

// show page

.show-post {
  h1 {
    color: #EE5253;
    font-size: 4em;
  }
  
  p {
    padding-right: 6em;
    line-height: 1.7;
  }
}